@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
    font-family:'Poppins' sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration:none;
    text-transform: capitalize;
}
a{
    text-decoration:none;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size:62.5%
}
:root{
    --border:.1rem solid #333;
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
html::-webkit-scrollbar{
    width:1rem
}
html::-webkit-scrollbar-track{
    background-color:#333
}
html::-webkit-scrollbar-thumb{
    background-color: #7895CB;
}

section
    {
        padding:5rem 10%;
    }
#body-section{
    background-image: url('../images/bb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit:contain; */
}
.header{
   top:0; left:0; right:0;
   position:sticky;
   z-index:1000;
   background-color: #fff;
   display: flex;
   padding-top:2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items:center;
   justify-content:space-between;
 

}
.header .logo{
    font-size:2.5rem;
    color:#333
}
/* .header .navbar{
    font-size:2rem;
    margin-left:2rem;
    color:#333
} */
.header .navbar a{
    font-size:2rem;
    margin-left:4rem;
    color:#333;

}
.header .navbar a:hover{
    color: #7895CB;
    border-bottom:2px solid #7895CB;
}

    #menu-btn{
    font-size:2.5rem;
    cursor:pointer;
    color:#333;
    display:none
}


/* .navbar-brand a{
    font-size:40px;
    color:#fff

}
.navbar-nav{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    
}
 a{
    margin-right: 20px;
    font-size:30px;
    letter-spacing:0.2;
} */
#body-section .content{
    /* height: 85rem;   */
    text-align:center;
}
#body-section .content span{
    display:block;
    font-size:2.2rem;
    color:#999;
    padding-bottom:1rem;
    text-align:center;
    animation: fadeIn .2s linear backwards .6s;
   

}
#body-section .content h3{
    color:#fff;
    font-size:6vw;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    line-height: 1;
    padding:1rem 0;
    text-align:center;
    animation: fadeIn .2s linear backwards .6s;
}
.discover{
    text-align:center
}
.discover .btn-link{
    animation: fadeIn .2s linear backwards .6s; 
}
@keyframes fadeIn{
    0%{
        transform:scale(0);
        opacity: 0;
    }
}
.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top:10rem;
    padding-bottom: 15rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color:#fff;
    text-shadow: var(--text-shadow);
    text-align: center;
    line-height: 1;
    padding:1rem 0;
}

.btn-link{
    display: inline-block;
    background: #333;
    margin-top: 1rem;
    color:#fff;
    text-decoration: none;
    font-size: 1.7rem;
    padding:1rem 3rem;
    cursor:pointer
}

.btn-link:hover{
    background-color:#7895CB;
    color:#fff;
    transition: 1s;
}
#services-section{
    margin: 40px 20px;
    /* height: 200px ; */
    position:relative
}

#services-section .services{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:20px    
}
#services-section .services .card{
    position:relative;
    width:150px;
    height:150px;
    background:var(--clr);
    border-radius:20px;
    border-top-left-radius: 40px;
    overflow:hidden
}
#services-section .services .box{
    position:absolute;
    inset:10px;
    background:#fff;
    border-radius: 10px;
}
#services-section .services .card .box .icon{
    position: absolute;
    width:50px;
    height:50px;
    background:var(--clr);
    border-bottom-right-radius:50%;
    transition:0.5s
}
#services-section .services .card:hover .box .icon{
    width:100%
}
#services-section .services .card .box .icon::before{
    content:'';
    position:absolute;
    left:-30px;
    bottom:0;
    width:30px;
    height:30px;
    background:transparent;
    border-top-left-radius: 30px;
    box-shadow:-5px -5px 0 5px var(--clr);
    transition:0.5s
}
#services-section .services .card .box .icon::after{
    content:'';
    position:absolute;
    top:0px;
    right:-30;
    width:30px;
    height:30px;
    background:transparent;
    border-top-left-radius: 30px;
    box-shadow:-5px -5px 0 5px var(--clr)
}
#services-section .services .card .box .iconBox{
    position:absolute;
    inset:8px;
    background:#fff;
    border-radius: 50%;
    border-top-right-radius:10px ;
    border-bottom-left-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200px;
}
#services-section .services .card .box .iconBox i{

    font-size: 1.5em;
    color:#7895CB
}
#services-section .services .card .box .iconBox ion-icon{
    font-size: 1.5em;
    color:#7895CB
}
#services-section .services .card .box .content{
    position: absolute;
    top:30px;
    padding:20px 10px;
    text-align:center;
}
#services-section .services .card .box .content p{
    font-size: 18px;
    font-weight: 500px;
    text-transform: uppercase;
    padding-top:10px
    /* letter-spacing:0.1px */
}

.headline-title{
    text-align: center;
    text-transform:uppercase;
    font-size: 30px;
    font-weight: 600;
}

#about-section{
margin:50px 20px;


}
#about-section .about-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
   
}
#about-section .about-us .image{
    flex:1 1 41rem
    
}
#about-section .about-us .image img{
    width:100%
}
#about-section .about-us .abt{
   
    flex:1 1 41rem;
    padding:3rem;
    background:#f2f2f2
    
    
}
#about-section .about-us .abt h2{
font-size:3rem;
color:#333
}
#about-section .about-us .abt p{
    font-size: 1.5rem;
    padding:1rem 0;
    line-height:2rem

     
}
#about-section .about-us .abt a{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    outline: none;
}
.packages{
    background:#f2f2f2
}
.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
.packages .box-container .box {
    border:var(--border);
    box-shadow: var(--box-shadow);
    background:#fff
}
.packages .box-container .box .image{
    height:25rem;
    overflow:hidden
}
.packages .box-container .box .image img{
    height:100%;
    width:100%;
    object-fit:cover;
    transition:.2s linear
}
.packages .box-container .box .content{
    padding:2rem;
    text-align: center;
}
.packages .box-container .box .content h3{
    font-size:2.5rem;
    color:#333
}
.packages .box-container .box .content p{
    font-size:1.5rem;
    color:#999;
    line-height:2;
    padding:1rem 0
}
.packages #loadmore{
    text-align:center;
    margin-top: 2rem;
   
}
.home-offer{
    text-align: center;
}
.home-offer .content{
    max-width: 70rem;
    margin:0 auto;
}
.home-offer .content h3{
   font-size:3.5rem;
   color: #333;
   text-transform: uppercase;
}
.home-offer .content p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 2;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
}
.about .image{
    flex:1 1 41rem;
}
.about .image img{
    width:100%
}
.about .content{
    flex:1 1 41rem;
    text-align: center; 
}
.about .content h3{
    font-size: 3rem;
    color:#333
}
.about .content p{
    font-size: 1.5rem;
    color:#999;
    line-height: 2;
    padding:1rem 0
}
.about .content .icons-container{
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}
.about .content .icons-container .icons{
    background: #f2f2f2;
    padding: 2rem;
    flex:1 1 16rem
}
.about .content .icons-container .icons i{
    font-size:4rem;
    margin-bottom: 1rem;
    color:#7895CB
}
.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color:#999;
    display:block
}
.reviews{
    background: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem
}
.reviews .slide{
    padding:2rem;
    border:var(--border);
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select:none;
   

}
.reviews .slide .stars{
    padding-bottom: .5rem;
}
.reviews .slide .stars i{
    font-size:1.7rem;
    color:#7895CB
}
.reviews .slide p{
    font-size:1.5rem;
    color:#999;
    line-height:2;
    padding:1rem 0
}
.reviews .slide span{
    font-size: 1.5rem;
    color:#7895CB;
    display: block;
}
.reviews .slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}



.footer{
    background-color: #333;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem;
}
.footer .box-container h3{
    color:#fff;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container a{
    color: #f2f2f2;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block; 
    text-decoration: none;  
}
.footer .box-container a i{
    color: #fff;
    padding-right: .5rem;
    transition: .2s linear;
    color:#7895CB
}
.footer .box-container a:hover i{
padding-right:2rem;
}
.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top:3rem;
    border-top:.1rem solid #999;
    font-size: 2rem;
    color: #fff;
}
.footer .credit span{
    color:#7895CB;
}

@media(max-width:1200px) {
    section
    {
        padding:3rem 5%;
    }
}
@media(max-width:991px) {
    section{
        padding:3rem 2rem;

    }
    html{
        font-size:55%
    }
}
@media(max-width:768px) {
    #menu-btn.fa-times{
        transform:rotate(180deg);
    }
    #menu-btn{
        transition: .2s linear;
        display:inline-block
    }
   .header .navbar{
    position: absolute;
    top:99%; left:0;right:0;
    padding:2rem;
    background-color: #fff;
    border-top: var(--border);
    transition: .2s linear;
    display:flex;
    flex-direction: column;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   .header .navbar.active{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%)
   }

}
@media(max-width:450px) {
    html{
       font-size:50%
    }
}
   
      